<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://down-br.img.susercontent.com/file/br-50009109-36ffc85eff53a58767a98eadb1c7fefd" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://down-br.img.susercontent.com/file/br-50009109-4834ee673abd4c704849af67c1b83026" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cf.shopee.com.br/file/br-50009109-09598945222bacfb6fcf692274f0ecff_xxhdpi" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>