<header>
    <% if (user !== undefined) { %>
        <p>oi <%= user.fullname %></p>
    <% } else { %>
        <a href="/login">Entrar</a>
        <a href="/cadastro">Cadastro</a>
    <% } %>
    
    <div class="header-search-items">
        <h1>Power</h1> 
        
        <div class="search">
            <input type="text" placeholder="Busca Em power" id="inp">
            <button onclick="
            var id = document.getElementById('inp').value
            location.href=`/product/search/${id}`">Search</button>
        </div>
      

    </div>
    
    
    
    <nav>
        <a href="/my/buy">Compras</a>
        <a href="/">Inicio</a>
        <a href="">Meu Perfil</a>
        <% if ( user != undefined && user.seller == 1) { %>
            <a href="/seller/me/profile">Minha Loja</a>
        <% } else { %>
            <a href="/seller/toturn">Torne-se Vendedor</a>
        <% } %>
        

    </nav>
   </header>